.basic-4 {
	padding-top: 13.5rem;
	padding-bottom: 14.75rem;
    /* background: url('../images/online-marketing-hIgeoQjS_iE-unsplash.jpg') center center no-repeat; */
    background: url('../images/online-marketing-hIgeoQjS_iE-unsplash.jpg') center;
	background-size: cover; 
}

@media only screen and (orientation: portrait) {
    .basic-4 {
        padding-top: 13.5rem;
        padding-bottom: 14.75rem;
        /* background: url('../images/online-marketing-hIgeoQjS_iE-unsplash.jpg') center center no-repeat; */
        /* background: url('../images/online-marketing-hIgeoQjS_iE-unsplash.jpg') center; */
        background-color: white; 
    }
}

.basic-4 .text-container {
	margin-bottom: 3.5rem;
	text-align: center;
}

.basic-4 h2 {
   text-align: center;
   color: #2787a7;
   margin-top: 1.5rem;
   font-weight: 200;
   margin-bottom: 1.25rem;
   font-size: 3rem;
}


.basic-4 .p-large {
	margin-bottom: 1.75rem;
	padding: 0 1rem 0 1rem;
	color: var(--main-txt-color);
}

.basic-4 .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}
/* .pad {
	height: 3rem;
} */
.basic-4 i{
	color: black;
	padding-top: 2rem;
	
}

/* services */

.basic-9 {
	padding-top: 6.5rem;
	padding-bottom: 6.75rem;
	/* background: url('../images/download-background.jpg') center center no-repeat; */
	background-size: cover; 
	background-color: white;
}

.basic-9 .text-container {
	margin-bottom: 3.5rem;
	text-align: center;
}

.basic-9 h2 {
   text-align: center;
   color: #2787a7;
   margin-top: 4.5rem;
   font-weight: 200;
   margin-bottom: 1.25rem;
}

.basic-9 h3 {
	text-align: center;
	color: #2787a7;
	margin-top: 0.5rem;
	font-weight: 200;
	margin-bottom: 1.25rem;
}

.basic-9 .p-large {
	margin-bottom: 1.75rem;
	padding: 0 1rem 0 1rem;
	color: var(--main-txt-color);
}

.basic-9 .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}
/* .pad {
	height: 3rem;
} */
.basic-9 i{
	color: black;
	padding-top: 2rem;
	
}

.basic-9 .service {
        margin-top: -16rem;
}

.basic-9 img {
    margin-top: 2rem;
}

/* Services */

.bigger {
    margin-top: 22%!important;
    height: 70%!important;
}

/* main services tab */

#features {
    background-color: white!important;
    color: black!important;
}