*{
    /*font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
    font-family: 'League Script', cursive; 
    box-sizing: border-box;
  }
.sound-cloud1 {
    position: absolute;
    left: 70%;
    top: 50%;
}



.abc {
  font-weight: 900;
}



html, body {
    position: relative;
    height: 100%;
  }
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }

  body {
    opacity: 3;
    transition: 8s opacity;
  }
  
  body.fade {
      opacity: 0;
      transition: none;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .welcoming {
      width:100%;
      height:100%;
  }


    button {
        border: none;
        background: #ff7a59;
        color: #fff;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        
        transition: all 500ms ease; 
      }



    button:hover{
        color: #ff7a59;
        border: #ff7a59 solid 1px;
        background:#fff;
      }

  .get-started {
      position: absolute;
      left: 70%;
      top: 30%;
      border-radius: 5px;
      z-index: 2;
     
      
  }

  .about-start {
      position: absolute;
      top: 70%;
      left:20%;
      border-radius: 5px;
      z-index: 2;
      
    }

/*home page*/

/*typewritter*/

.rolling-text {
  margin-top: 5%;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.typewrite {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  pointer-events: none;
  font-weight: 800;
  font-size: 3vw;
}

.welcome-page {
  overflow: hidden;
}

.welcome {
  width: 85%;
  height: 85%;
  margin-left: 6%;
  transition: transform .8s;
}

.welcome:hover {
  transform: scale(1.1);
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_image_container {
  margin-top: 1%;
}

/*about page */

.main-about {
    font-weight: 900;
    color: #000;
}

article {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.share-main {
    font-weight: 900;
    font-size: 2.5vw;
}
.text-information {
  padding: 2% 25% 0 25%;
}

.head {
  text-align: center;
  padding-top: 4%;
}
.main-head {
  text-align: center;
  padding-top: 4%;
}

.mag-photo {
  width: 45%;
  height: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption-mag {
  text-align: center;
  font-size: x-large;
}
.tom-gallery {
  height: 95%;
  width:95%;
}

.contact-info {
  margin-top: 15%;
  margin-bottom: 20%;
}


/* Story styles */

/*Guide page*/

.images-points {
  display:flex;
  height: 600px;
  width:600px;
  flex-direction: column;
  margin-left: -22%;
  flex-shrink: 1;
  flex-wrap: wrap;

}
.headphone {
  width:250px;
  height:170px;
}
.intro-pic {
  width:175px;
  height:175px;
}

.enjoy {
  width:185px;
  height:185px;
}

.guide-info {
  font-weight: 300;
  height:140px;
  margin-top: 8%;
  font-family: 'Lato', sans-serif;
} 



/*Cherry pickers */
.welcoming-cherry {
  
  width: 45%;
  height: 45%;
  margin-top: -10%;
  margin-left: -30%;
}
.cherry-main {
  z-index: 999;
  color: #000;
  position: absolute;
  top: 35%;
  left: 50%;
  font-weight: 900;
  font-size: 3rem;
}

.audio-cherry {
  position: absolute;
  top: 45%;
  left: 50%
}

.audio-cherry-intro {
  position: absolute;
  top: 15%;
  left: 50%
}

/*tea Maker */

.welcoming-tea {
  width: 55%;
  height: 55%;
  margin-top: -8%;
  margin-left: 35%;
}

.tea-main {
  z-index: 999;
  color: #000;
  position: absolute;
  top: 35%;
  left: 10%;
  font-weight: 900;
  font-size: 3rem;
}

.audio-tea {
  position: absolute;
  top: 45%;
  left: 10%
}

.audio-tea-intro {
  position: absolute;
  top: 15%;
  left: 10%
}

/*A taste from my hand */

.welcoming-taste {
  width: 90%;
  height: 90%;
  margin-top: -18%;
  margin-left: 0%;
}

.taste-main {
  z-index: 999;
  color: #000;
  position: absolute;
  top: 55%;
  left: 50%;
  font-weight: 900;
  font-size: 3rem;
}

.audio-taste {
  position: absolute;
  top: 65%;
  left: 10%
}

.audio-taste-intro {
  position: absolute;
  top: 65%;
  left: 50%
}

/*Mama Chicken */

.welcoming-chicken {
  width: 50%;
  height: 50%;
  margin-top: -6%;
  margin-left: -10%;
  transform: rotate(90deg);
}

.chicken-main {
  z-index: 999;
  color: #000;
  position: absolute;
  top: 55%;
  left: 60%;
  font-weight: 900;
  font-size: 3rem;
}

.audio-chicken {
  position: absolute;
  top: 65%;
  left: 10%
}

.audio-chicken-intro {
  position: absolute;
  top: 65%;
  left: 60%
}

/* @media only screen and (max-width: 500px) {
  .welcoming-cherry {
  
    width: 45%;
    height: 45%;
    margin-top: -10%;
    margin-left: -25%;
  }
  .cherry-main {
    z-index: 999;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 900;
    font-size: 3rem;
  }
  .audio-cherry {
    position: absolute;
    top: 55%;
    left: 50%
  }
} */

.swiper-button-next {
  color:black !important;
}

.swiper-button-prev {
  color:black !important;
}


@media only screen and (min-width: 2000px) {
  .abc {
    font-size: 3.8em;
  }
  .buttons-menu {
    margin-left: 59%;
}
}

@media only screen and (min-width: 1000px) and (max-width: 1440){
  .buttons-menu {
    margin-left: 51%;
}
  .abc {
    font-size: 1.2em;
    font-weight: 900;
  }
  .guide-info {
    margin-bottom: 5%;
    text-align: left;
    font-weight: 300;
    margin-bottom: 22%;
    margin-top: 15%;
    margin-left: 2%;
    font-family: 'Lato', sans-serif;
  }
  .images-points {
    display:flex;
    flex-direction: column;
    width:19%;
    height:30%;
    margin-top: -40%;
  }
}

@media only screen and (max-width: 800px) {
  .buttons-menu {
    margin-left: 0%;
    display: flex;
}
  .abc {
    font-size: 0.8em;
    font-weight: 900;
  }
  .navbar-toggler {
    margin-left: 48%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 800px) {
  .buttons-menu {
    margin-left: 70%;

}
  .abc {
    font-size: 0.8em;
    font-weight: 900;
  }
  .navbar-toggler {
    margin-left: 50%;
  }
}